*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* common code here */
.btn-primary{
    border-radius: 5px;
    background-color: #FF900E;
    padding: 20px 25px;
    color: #ffff;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
}
.span-feature{
    color: tomato;
}
.span-quick-list{
    color: gray;
}
/* common code end here */

/* header styles starts here */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;

}

/* banner section style */
img{
    width: 100%;
}

.banner-content{
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    text-align: center;
}
.banner-description{
    color: #727272;
}
.banner img{
    width: 100%;
}

/* main style */
main{
    margin: 70px auto;
    max-width: 1440px;
}

/* feature section style starts from here */
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.feature-info{
    padding-left: 70px;
    padding-right: 70px;
}
.feature-title{
    font-size: 2.8rem;
}
/* feature section style end here */

/* facts style here */
.facts-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    margin: 30px 0;
}
.card-img{
    width: 100px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.facts-card-container .card-title{
    font-weight: 600;
}
.stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card{
    border-radius: 5px;
    border: 1px solid tomato;
    padding: 40px 30px;
    width: 150px;
}
.facts-description{
    width: 70%;
    margin: auto;
    text-align: center;
}
.facts-title{
    text-align: center;
}
/* sponsors styls */
.sponsors{
    text-align: center;
    margin-top: 50px;
}
.sponsors-image-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.sponsors-image{
    width: 150px;
}
.sponsor-description{
    width: 70%;
    margin: auto;
}

/* feature2 section style */
.features2-section{
    margin-top: 130px;
    display: flex;
    gap: 100px;
    margin: 20px;
}
.left-border{
    border-left: 5px solid tomato;
    padding: 20px;
    margin: 0px;
}
.cart{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: #ece6e6;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature2-images{
    height: 90%;
    margin-left: 100px;
}
.badge{
    background-color: tomato;
    border-radius: 6px;
    color: #ffff;
    width: 342px;
    padding: 40px;
    position: relative;
}
.badge h2{
    font-size: 4rem;
    margin: 0px;
}
.badge p{
    font-size: 1.5rem;
    text-align: center;
}





/* small divaice */
@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }
    nav, ul{
        flex-direction: column;
        padding-left: 50px;
    }
    nav > ul > li{
        margin-top: 20px;
    }
    .features{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
    .feature-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-info{
        padding-left: 0px;
    }
    .facts-card-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding:  0 20px;
    }
    .card{
        width: 70%;
        margin: 10px auto;
    }
    .sponsors-image-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;
        padding: 30px;
        align-items: center;
    }
}
  
/* medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
    }
    .features{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .feature-info{
        padding-left: 0px;
    }
    nav > ul > li{
        margin-top: 20px;
    }
    ul{
        padding-left: 50px;
    }
    .card{
        width: 50%px;
    }
    .facts-card-container{
        display: flex;
    }
    .sponsors-image-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;
        padding: 30px;
        align-items: center;
    }
    .facts-card-container{
        display: flex;
        flex-direction: column;
        gap: 30px;

        align-items: center;
    }
}