*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* common code here */
.btn-primary{
    border-radius: 5px;
    background-color: #FF900E;
    padding: 20px 25px;
    color: #ffff;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
}
.span-feature{
    color: tomato;
}
.span-quick-list{
    color: gray;
}
/* common code end here */

/* header styles starts here */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;

}

/* banner section style */
img{
    width: 100%;
}

.banner-content{
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    text-align: center;
}
.banner-description{
    color: #727272;
}
.banner img{
    width: 100%;
}
/* feature section style starts from here */
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
    margin: 200px 100px;
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
/* feature section style end here */




/* small divaice */
@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }
    nav, ul{
        flex-direction: column;
        padding-left: 50px;
    }
    nav > ul > li{
        margin-top: 20px;
    }
    .features{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin: 200px 10px;
    }
    .feature-images{
        grid-template-columns: repeat(1, 1fr);
    }
}
  
/* medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
    }
    .features{
        grid-template-columns: repeat(1, 1fr);
        margin: 200px 50px;
    }
    nav > ul > li{
        margin-top: 20px;
    }
    ul{
        padding-left: 50px;
    }
}